.burger {
  @include no-btn;

  width: 30px;
  height: 11px;
  position: relative;
  z-index: 4;

  @media (min-width: $media-tablet) {
    width: 34px;
    height: 14px;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: $color-black;
    border-radius: 1px;
    transition:
      transform 0.2s cubic-bezier(0.1, 0.82, 0.76, 0.965),
      top 0.2s cubic-bezier(0.1, 0.82, 0.76, 0.965),
      width 0.2s cubic-bezier(0.1, 0.82, 0.76, 0.965);
  }

  &::before {
    top: 0;
    right: 0;
  }

  &::after {
    width: 18px;
    right: 0;
    bottom: 0;
  }

  &--is-active {
    position: fixed;
    margin-top: -8px;

    &::before,
    &::after {
      top: 50%;
      width: 26px;
      transform: rotate(45deg);

      @media (min-width: $media-tablet) {
        width: 29px;
      }
    }

    &::after {
      transform: rotate(-45deg);
    }
  }

  &:hover {
    @media (min-width: $media-tablet-landscape) {
      &::before,
      &::after {
        width: 29px;
      }
    }
  }
}
