.hero {
  padding: 10px 0 52px;

  @media (min-width: $media-tablet-landscape) {
    padding: 30px 0 152px;
  }

  &__container {
    position: relative;
    z-index: 1;
  }

  &__bg {
    display: none;

    @media (min-width: $media-desktop) {
      display: block;
      position: absolute;
      top: 0;
      right: -70px;
      z-index: -1;
    }
  }

  &__wrapper {
    @media (min-width: $media-desktop) {
      padding: 50px 0 166px;
    }
  }

  &__title {
    margin-bottom: 30px;
  }

  &__text {
    margin-bottom: 36px;

    @media (min-width: $media-tablet-landscape) {
      max-width: 474px;
      margin-bottom: 56px;
    }
  }

  &__btn {
    margin-bottom: 50px;

    @media (min-width: $media-tablet-landscape) {
      margin-bottom: 70px;
    }

    @media (min-width: $media-desktop) {
      margin-bottom: 199px;
    }
  }

  &__video {
    box-shadow: -20px 60px 220px rgb(0 0 0 / 44%);
    width: 100%;
    max-width: 400px;
    max-height: 290px;
    margin-bottom: 50px;
    overflow: hidden;
    position: relative;

    @media (min-width: $media-tablet-landscape) {
      max-height: 310px;
      margin: 0;
      position: absolute;
      right: 0.75rem;
      top: 100px;
    }

    @media (min-width: $media-desktop) {
      top: auto;
      right: 26%;
      bottom: 120px;
    }
  }

  &__loader {
    margin-bottom: 133px;
  }
}
