.services-slider {
  padding: 0 0 0 0.75rem;

  &__swiper {
    max-width: 875px;
    margin: 0;
    padding: 0 0.75rem;
    overflow: visible;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: -1%;
      left: -100%;
      width: 100%;
      height: 102%;
      background-color: $color-bg;
      z-index: 100;
    }
  }

  &__wrapper {
    display: flex;
    flex-wrap: nowrap;
  }

  &__slide {
    width: 825px;
    padding: 0;
    position: relative;
    opacity: 0.3;
    transition: opacity 0.3s ease-in-out;

    &.swiper-slide-active {
      opacity: 1;
    }
  }
}
