.services-list {
  @include no-list;

  display: flex;
  flex-flow: column wrap;
  gap: 11px;
  max-height: 150px;

  @media (min-width: $media-tablet) {
    max-height: 100px;
  }

  @media (min-width: $media-desktop) {
    max-height: 200px;
    gap: 21px;
  }

  &__link {
    color: $color-text;
    text-decoration: none;
    transition: color 0.3s ease-in-out;

    &:hover {
      color: $color-black;
    }

    &:active {
      color: $color-grey;
    }
  }
}
