.works-gallery {
  gap: 1.5rem 0;

  &__wrapper {
    position: relative;
    transition: transform 0.3s ease-in-out;

    &:hover {
      transform: translateY(-20px);
    }
  }

  &__img {
    width: 100%;
  }

  &__play-btn {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;

    &--visible {
      opacity: 1;
    }
  }
}
