html {
  box-sizing: border-box;
  text-size-adjust: none;
  -webkit-tap-highlight-color: transparent;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  background-color: $color-bg;
  color: $color-text;
  font-family: $font-base-family;
  font-size: 16px;
  line-height: $line-height-base;
  min-height: 100%;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (min-width: $media-tablet) {
    font-size: 18px;
  }
}

img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}
