<section id="about" class="about">
  <div class="about__container container">
    <h2 class="u-visuallyhidden">About us</h2>

    <div class="row">
      <div class="about__bg-image col-12 col-xl-6">
        <img
          src="img/about-bg@1x.jpg"
          srcset="img/about-bg@2x.jpg 2x"
          width="475"
          height="564"
          alt=""
        />
      </div>

      <div class="col-12 col-xl-6">
        <p class="about__title big-title">
          We solve digital problems with an outstanding creative flare
        </p>

        <p class="about__text">
          The best time to view the moon, obviously, is at night when there are few clouds and the weather is accommodating for a long and lasting study.
        </p>

        <p class="about__text">
          For most of us, the idea of astronomy is something we directly connect to “stargazing”, telescopes and seeing magnificent displays in the heavens.
        </p>

        <div class="about__author">
          <div class="about__author-img">
            <img
              src="img/avatar-denis-shepovalov@1x.png"
              srcset="img/avatar-denis-shepovalov@2x.png 2x"
              width="65"
              height="65"
              alt=""
            />
          </div>
          <div class="about__author-desc">
            <h3 class="about__author-title title">
              Denis Shepovalov
            </h3>

            <p class="about__author-post">
              Co-Founder & CEO
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
