<ul class="clients-list">
  <li class="clients-list__item">
    <a
      href="https://www.mi.com"
      class="clients-list__link"
      target="_blank"
      rel="noopener nofollow">
      <svg class="clients-list__icon" width="80" height="63">
        <use xlink:href="img/sprite.svg#icon-xiaomi"></use>
      </svg>
    </a>
  </li>
  <li class="clients-list__item">
    <a
      href="https://tinder.com"
      class="clients-list__link"
      target="_blank"
      rel="noopener nofollow">
      <svg class="clients-list__icon" width="52" height="70">
        <use xlink:href="img/sprite.svg#icon-tinder"></use>
      </svg>
    </a>
  </li>
  <li class="clients-list__item">
    <a
      href="https://www.apple.com"
      class="clients-list__link"
      target="_blank"
      rel="noopener nofollow">
      <svg class="clients-list__icon" width="56" height="68">
        <use xlink:href="img/sprite.svg#icon-apple"></use>
      </svg>
    </a>
  </li>
  <li class="clients-list__item">
    <a
      href="https://www.nike.com"
      class="clients-list__link clients-list__link--active"
      target="_blank"
      rel="noopener nofollow">
      <svg class="clients-list__icon" width="146" height="50">
        <use xlink:href="img/sprite.svg#icon-nike"></use>
      </svg>
    </a>
  </li>
  <li class="clients-list__item">
    <a
      href="https://www.amd.com"
      class="clients-list__link"
      target="_blank"
      rel="noopener nofollow">
      <svg  class="clients-list__icon" width="60" height="60">
        <use xlink:href="img/sprite.svg#icon-amd"></use>
      </svg>
    </a>
  </li>
</ul>
