<section id="clients" class="clients">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-12 col-md-4 col-xxl-6 order-1 order-md-0">
        <p class="big-title">
          Our Clients
        </p>
      </div>
      <div class="col-12 col-md-8 col-xxl-5 order-0 order-md-1">
        <h2 class="clients__title label-title">
          — We worked with
        </h2>

        <p>
          Our favorite brands are our friends!
          We help them to achieve their goals, they help us to stay sharp.
        </p>
      </div>
    </div>

    @@include('blocks/clients-list.html')
  </div>
</section>
