<section id="features" class="features">
  <div class="features__container container">
    <h2 class="u-visuallyhidden">Features</h2>

    <div class="row justify-content-between">
      <div class="features__img col-xl-6 d-none d-xl-block position-relative">
        <img
          class="features__bg"
          src="img/features-bg-back@1x.jpg"
          srcset="img/features-bg-back@2x.jpg 2x"
          width="570"
          height="417"
          alt=""
        />

        <img
          class="features__cover"
          src="img/features-bg-front@1x.jpg"
          srcset="img/features-bg-front@2x.jpg 2x"
          width="350"
          height="453"
          alt=""
        />
      </div>

      <div class="col-12 col-xl-5 p-xl-0">
        <p class="features__title big-title">
          Well thought with super easy to use
        </p>

        <p class="features__text">
          As we approached the palace I could see through the great windows of the first floor the brilliantly illuminated audience chamber of Than Kosis.
          The immense hall was crowded with nobles and their women.
        </p>

        <div class="d-flex gap-4 align-items-center mb-4">
          <svg class="features__icon">
            <use xlink:href="img/sprite.svg#icon-hundred"></use>
          </svg>

          <p class="label-title mb-0">
            Ultimate Result
          </p>
        </div>
        <div class="d-flex gap-4 align-items-center">
          <svg class="features__icon">
            <use xlink:href="img/sprite.svg#icon-bag"></use>
          </svg>

          <p class="label-title mb-0">
            Minimal Design
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
