<footer class="footer">
  <div class="container">
    <div class="footer__wrapper">
      <div class="footer__logo">
        @@include('elements/logo.html', {
          "class": "logo logo--white",
        })
      </div>

      @@include('blocks/footer-menu.html', {
        "class": "footer__menu",
      })

      @@include('blocks/subscribe-form.html', {
        "class": "footer__form",
      })
    </div>

    <div class="footer__bottom row">
      <div class="col-12 col-md-6">
        @@include('blocks/footer-submenu.html', {
          "class": "",
        })
      </div>

      <div class="col-12 col-md-6">
        @@include('blocks/social-links.html', {
          "class": "footer__social-links",
        })
      </div>
    </div>
  </div>
</footer>
