<nav class="footer-submenu">
  <ul class="footer-submenu__list">
    <li class="">
      <a class="footer-submenu__link" href="#terms">
        Terms
      </a>
    </li>
    <li class="">
      <a class="footer-submenu__link" href="#promo">
        Promo
      </a>
    </li>
    <li class="">
      <a class="footer-submenu__link" href="#download">
        Download
      </a>
    </li>
    <li class="">
      <a class="footer-submenu__link" href="#news">
        News
      </a>
    </li>
  </ul>
</nav>
