<ul class="@@class services-list">
  <li class="services-list__item">
    <a href="" class="services-list__link">
      Multimedia
    </a>
  </li>
  <li class="services-list__item">
    <a href="" class="services-list__link">
      Interactive design
    </a>
  </li>
  <li class="services-list__item">
    <a href="" class="services-list__link">
      Packaging
    </a>
  </li>
  <li class="services-list__item">
    <a href="" class="services-list__link">
      Branding
    </a>
  </li>
  <li class="services-list__item">
    <a href="" class="services-list__link">
      Creative Strategy
    </a>
  </li>
  <li class="services-list__item">
    <a href="" class="services-list__link">
      UI/UX
    </a>
  </li>
  <li class="services-list__item">
    <a href="" class="services-list__link">
      Coding
    </a>
  </li>
</ul>
