<ul class="@@class social-links">
  <li class="social-links__item">
    <a href="" class="social-links__link">
      <svg class="social-links__icon">
        <use xlink:href="img/sprite.svg#icon-twitter"></use>
      </svg>
    </a>
  </li>
  <li class="social-links__item">
    <a href="" class="social-links__link">
      <svg class="social-links__icon">
        <use xlink:href="img/sprite.svg#icon-linkedin"></use>
      </svg>
    </a>
  </li>
  <li class="social-links__item">
    <a href="" class="social-links__link">
      <svg class="social-links__icon">
        <use xlink:href="img/sprite.svg#icon-google"></use>
      </svg>
    </a>
  </li>
  <li class="social-links__item">
    <a href="" class="social-links__link">
      <svg class="social-links__icon">
        <use xlink:href="img/sprite.svg#icon-facebook"></use>
      </svg>
    </a>
  </li>
</ul>
