<div class="testimonials-slider">
  <div class="swiper-wrapper testimonials-slider__wrapper">
    <div class="swiper-slide testimonials-slider__slide">
      <div class="testimonials-slider__content row">
        <div class="col-12 col-sm-5 col-md-6">
          <p class="big-title testimonials-slider__text">
            "Professionals in their craft!
            All products were super great with strong attention to details, and overall vibe"
          </p>

          <div class="testimonials-slider__author-desc">
            <h3 class="testimonials-slider__author-title title">
              Polina Kuzina
            </h3>

            <p class="testimonials-slider__author-post">
              Manager at Craftwork
            </p>
          </div>
        </div>
        <div class="col-12 col-sm-5">
          <img
            class="testimonials-slider__img"
            src="img/testimonials-polina-kuzina@1x.jpg"
            srcset="img/testimonials-polina-kuzina@2x.jpg 2x"
            width="445"
            height="620"
            alt=""
          />
        </div>
      </div>
    </div>

    <div class="swiper-slide testimonials-slider__slide">
      <div class="testimonials-slider__content row">
        <div class="col-12 col-sm-5 col-md-6">
          <p class="big-title testimonials-slider__text">
            "Professionals in their craft!
            All products were super great with strong attention to details, and overall vibe"
          </p>

          <div class="testimonials-slider__author-desc">
            <h3 class="testimonials-slider__author-title title">
              Polina Kuzina
            </h3>

            <p class="testimonials-slider__author-post">
              Manager at Craftwork
            </p>
          </div>
        </div>
        <div class="col-12 col-sm-5">
          <img
            class="testimonials-slider__img"
            src="img/testimonials-polina-kuzina@1x.jpg"
            srcset="img/testimonials-polina-kuzina@2x.jpg 2x"
            width="445"
            height="620"
            alt=""
          />
        </div>
      </div>
    </div>
  </div>
</div>
