<div class="works-gallery row">
  <div class="works-gallery__wrapper col-12 col-md-6 col-lg-4">
    <img
      class="works-gallery__img"
      src="img/works-img-01@1x.jpg"
      srcset="img/works-img-01@2x.jpg 2x"
      width="350"
      height="450"
      alt=""
    />

    @@include('elements/play-btn.html', {
      "class": "play-btn works-gallery__play-btn",
      "class-js": "js-playVideo",
      "data-video": "worksVideo",
    })
  </div>
  <div class="works-gallery__wrapper col-12 col-md-6 col-lg-4">
    <img
      class="works-gallery__img"
      src="img/works-img-02@1x.jpg"
      srcset="img/works-img-02@2x.jpg 2x"
      width="350"
      height="450"
      alt=""
    />

    @@include('elements/play-btn.html', {
      "class": "play-btn works-gallery__play-btn",
      "class-js": "js-playVideo",
      "data-video": "worksVideo",
    })
  </div>
  <div class="works-gallery__wrapper col-12 col-md-6 col-lg-4">
    <img
      class="works-gallery__img"
      src="img/works-img-03@1x.jpg"
      srcset="img/works-img-03@2x.jpg 2x"
      width="350"
      height="450"
      alt=""
    />

    @@include('elements/play-btn.html', {
      "class": "play-btn works-gallery__play-btn",
      "class-js": "js-playVideo",
      "data-video": "worksVideo",
    })
  </div>
  <div class="works-gallery__wrapper col-12 col-md-6 col-lg-4">
    <img
      class="works-gallery__img"
      src="img/works-img-04@1x.jpg"
      srcset="img/works-img-04@2x.jpg 2x"
      width="350"
      height="450"
      alt=""
    />

    @@include('elements/play-btn.html', {
      "class": "play-btn works-gallery__play-btn",
      "class-js": "js-playVideo",
      "data-video": "worksVideo",
    })
  </div>
  <div class="works-gallery__wrapper col-12 col-md-6 col-lg-4 d-none d-md-block">
    <img
      class="works-gallery__img"
      src="img/works-img-05@1x.jpg"
      srcset="img/works-img-05@2x.jpg 2x"
      width="350"
      height="450"
      alt=""
    />

    @@include('elements/play-btn.html', {
      "class": "play-btn works-gallery__play-btn",
      "class-js": "js-playVideo",
      "data-video": "worksVideo",
    })
  </div>
  <div class="works-gallery__wrapper col-12 col-md-6 col-lg-4 d-none d-md-block">
    <img
      class="works-gallery__img"
      src="img/works-img-06@1x.jpg"
      srcset="img/works-img-06@2x.jpg 2x"
      width="350"
      height="450"
      alt=""
    />

    @@include('elements/play-btn.html', {
      "class": "play-btn works-gallery__play-btn",
      "class-js": "js-playVideo",
      "data-video": "worksVideo",
    })
  </div>
</div>
