<section class="works">
  <div class="container works__container">
    <h2 class="works__title label-title">
      — our works
    </h2>

    <div class="works__header row">
      <div class="col-12 col-lg-6">
        <p class="big-title mb-5 mb-lg-0">
          Discover our Work
        </p>
      </div>

      <div class="col-12 col-lg-6">
        <ul class="works__switcher">
          <li class="works__switcher-item">
            <span class="works__switcher-link works__switcher-link--current label-title">
              All
            </span>
          </li>
          <li class="works__switcher_item">
            <a href="" class="works__switcher-link label-title">
              Branding
            </a>
          </li>
          <li class="works__switcher_item">
            <a href="" class="works__switcher-link label-title">
              Web
            </a>
          </li>
          <li class="works__switcher_item">
            <a href="" class="works__switcher-link label-title">
              Development
            </a>
          </li>
          <li class="works__switcher_item">
            <a href="" class="works__switcher-link label-title">
              Films
            </a>
          </li>
        </ul>
      </div>
    </div>

    @@include('blocks/works-gallery.html')

    <div class="works__footer row">
      <div class="col-12 col-lg-8 mb-4 mb-lg-0">
        <p>
          It picks up the words on the page and displays ads that are similar to those words.
          Then when someone either performs an action or clicks on your page you will get paid.
        </p>
      </div>

      <div class="col-12 col-lg-4 text-lg-end">
        @@include('elements/main-btn.html', {
          "class": "works__btn main-btn label-title",
          "text": "see our works",
        })
      </div>
    </div>
  </div>
</section>
