.main-btn {
  @include no-btn;

  background-color: $color-violet;
  color: $color-white;
  // letter-spacing: 0.22rem;
  padding: 0.85rem 1.74rem 0.7rem;
  max-width: 250px;
  transition: background-color 0.3s ease-in-out;

  /*
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    min-height: 40px;
  */

  &--submit {
    background-color: $color-sand;
    padding: 0.5rem 1.4rem 0.4rem;
  }

  &:hover {
    background-color: $color-black;
  }

  &:active {
    opacity: 0.6;
  }

  &:disabled {
    background-color: $color-grey;
    opacity: 0.4;
  }
}

.play-btn {
  @include no-btn;
  @include position-center;

  background-color: $color-white;
  width: 65px;
  height: 65px;
  transition: transform 0.3s ease-in-out;

  &::before {
    @include position-center;

    content: "";
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 15px solid $color-orange;
    width: 0;
    height: 0;
    margin-top: 23px;
    margin-left: 27px;
  }

  &:disabled {
    opacity: 0.4;
  }
}

.slider-btn {
  @include no-btn;

  background-color: $color-grey;
  width: 50px;
  height: 50px;
  position: relative;
  transition: opacity 0.3s ease-in;

  &--next {
    transform: scale(-1, 1);
  }

  &__icon {
    @include position-center;

    width: 11px;
    height: 18px;
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.4;
  }

  &:disabled {
    opacity: 0.2;
  }
}
